@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #c9ced6;
}

body {
  background: #0b101b;
  min-height: 100vh;
}

main {
  background: url("../assets/Cubesbg.png"), url("../assets/Swirlbg.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.pink-blue-gradient-text {
  background-image: radial-gradient(circle, #144ee3, #f35792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-pink-gradient-text {
  background-image: radial-gradient(circle, #f35792, #144ee3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 80vw;
  padding: 1rem 0;
}
@media (max-width: 768px) {
  .container {
    max-width: 100vw;
    padding: 1rem;
  }
}

footer {
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  footer {
    padding: 2rem 1rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
}
@media (max-width: 768px) {
  header {
    padding: 1rem;
  }
}
header .logo {
  font-size: 37px;
  font-weight: 600;
}
@media (max-width: 768px) {
  header .logo {
    font-size: 1.5rem;
  }
}
header .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 1rem 3rem;
  border-radius: 48px;
  color: #c9ced6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .btn {
    padding: 0.6rem 1.3rem;
  }
}

.btn-login {
  background-color: #353c4a;
}

.btn-register {
  background-color: #144ee3;
}

.hero-section {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-section .section-title {
  font-size: 4rem;
}
@media (max-width: 768px) {
  .hero-section .section-title {
    font-size: 2rem;
  }
}
.hero-section .form_ {
  margin-top: 2rem;
  background-color: #181e29;
  border: 4px solid #353c4a;
  width: 80%;
  padding: 0.2rem 0;
  padding-left: 1rem;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.8rem;
}
@media (max-width: 768px) {
  .hero-section .form_ {
    width: 100%;
    border: 2px solid #353c4a;
  }
}
.hero-section .form_ .icon {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .hero-section .form_ .icon {
    font-size: 1rem;
  }
}
.hero-section .form_ input {
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.3rem;
  background-color: transparent;
}
@media (max-width: 768px) {
  .hero-section .form_ input {
    font-size: 0.7rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.hero-section .form_ input::-webkit-input-placeholder {
  color: #c9ced6;
}
.hero-section .form_ input::-moz-placeholder {
  color: #c9ced6;
}
.hero-section .form_ input:-ms-input-placeholder {
  color: #c9ced6;
}
.hero-section .form_ input::-ms-input-placeholder {
  color: #c9ced6;
}
.hero-section .form_ input::placeholder {
  color: #c9ced6;
}
.hero-section .form_ button {
  background-color: #144ee3;
  font-size: 1.3rem;
  padding: 1rem 2.3rem;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 3rem;
}
@media (max-width: 768px) {
  .hero-section .form_ button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}

.dashboard {
  width: 70%;
}
@media (max-width: 768px) {
  .dashboard {
    width: 100%;
    overflow: scroll;
  }
}
.dashboard table {
  width: 100%;
  margin-top: 3rem;
}
.dashboard table thead {
  height: 50px;
  background-color: #181e29;
}
@media (max-width: 768px) {
  .dashboard table thead {
    height: 30px;
  }
}
.dashboard table tr td {
  padding: 1rem;
}
@media (max-width: 768px) {
  .dashboard table tr td {
    padding: 0.5rem;
  }
}
.dashboard table tr td button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.dashboard table tr td .icon {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .dashboard table tr td .icon {
    font-size: 0.8rem;
  }
}
.dashboard table tr td .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  .dashboard table tr td .actions {
    gap: 0.5rem;
  }
}